In [1]:
# pandas
import pandas as pd
from pandas import Series,DataFrame

# numpy, matplotlib, seaborn
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Slicing ##

In [41]:
df = pd.DataFrame(np.random.randn(6,4), index=list('abcdef'), columns=list('ABCD'))
print df

          A         B         C         D
a -1.609150  0.851905 -0.958336  2.540210
b  0.024007 -0.075003 -1.383130  1.282551
c  1.595176  0.659859  0.395441  1.989611
d -0.420154 -1.537966 -0.411965 -0.052758
e -0.364205 -0.261687  0.303127 -1.067625
f -0.004073 -1.172976 -1.013493  0.289787

In [42]:
print df.ix[0:2] # Row 0 to 1
print
print df.ix[1:2] # Row 1
print
s = df.ix[1] # Row 1 as a Series
print s
print type(s)
print s[0]
print s['A']

          A         B         C         D
a -1.609150  0.851905 -0.958336  2.540210
b  0.024007 -0.075003 -1.383130  1.282551

          A         B        C         D
b  0.024007 -0.075003 -1.38313  1.282551

A    0.024007
B   -0.075003
C   -1.383130
D    1.282551
Name: b, dtype: float64
<class 'pandas.core.series.Series'>
0.0240068140539
0.0240068140539

In [43]:
print df.ix[:,'A'] # Column 'A'
print
print df.ix[:, ['A', 'C']] # Columns A and C
print
print df.ix[:, range(1,3)] # Columns 1 to 2
print

# Get the name ('index') of a series (iloc[0] will return a series; name is the value of the index in the original df row)
print d.iloc[0].name

a   -1.609150
b    0.024007
c    1.595176
d   -0.420154
e   -0.364205
f   -0.004073
Name: A, dtype: float64

          A         C
a -1.609150 -0.958336
b  0.024007 -1.383130
c  1.595176  0.395441
d -0.420154 -0.411965
e -0.364205  0.303127
f -0.004073 -1.013493

          B         C
a  0.851905 -0.958336
b -0.075003 -1.383130
c  0.659859  0.395441
d -1.537966 -0.411965
e -0.261687  0.303127
f -1.172976 -1.013493

## Selection ##

In [44]:
df2 = df.copy()

print "True for rows where 'A' > 0; False otherwise"
rows = df2['A'] > 0
print rows
print

print "Rows where 'A' > 0"
print df2.ix[rows]
print

print "In rows where A > 0, set B to 999"
df2.ix[rows, 'B'] = 99
print df2

True for rows where 'A' > 0; False otherwise
a    False
b     True
c     True
d    False
e    False
f    False
Name: A, dtype: bool

Rows where 'A' > 0
          A         B         C         D
b  0.024007 -0.075003 -1.383130  1.282551
c  1.595176  0.659859  0.395441  1.989611

In rows where A > 0, set B to 999
          A          B         C         D
a -1.609150   0.851905 -0.958336  2.540210
b  0.024007  99.000000 -1.383130  1.282551
c  1.595176  99.000000  0.395441  1.989611
d -0.420154  -1.537966 -0.411965 -0.052758
e -0.364205  -0.261687  0.303127 -1.067625
f -0.004073  -1.172976 -1.013493  0.289787

## Functions on values ##

In [45]:
# Apply a function to a column
print df
print
print df.ix[:,'A'].map(lambda x: '+ve' if x >= 0 else '-ve')
df['A_sign'] = df.ix[:,'A'].map(lambda x: '+ve' if x >= 0 else '-ve')
print
print df

          A         B         C         D
a -1.609150  0.851905 -0.958336  2.540210
b  0.024007 -0.075003 -1.383130  1.282551
c  1.595176  0.659859  0.395441  1.989611
d -0.420154 -1.537966 -0.411965 -0.052758
e -0.364205 -0.261687  0.303127 -1.067625
f -0.004073 -1.172976 -1.013493  0.289787

a    -ve
b    +ve
c    +ve
d    -ve
e    -ve
f    -ve
Name: A, dtype: object

          A         B         C         D A_sign
a -1.609150  0.851905 -0.958336  2.540210    -ve
b  0.024007 -0.075003 -1.383130  1.282551    +ve
c  1.595176  0.659859  0.395441  1.989611    +ve
d -0.420154 -1.537966 -0.411965 -0.052758    -ve
e -0.364205 -0.261687  0.303127 -1.067625    -ve
f -0.004073 -1.172976 -1.013493  0.289787    -ve

In [47]:
# Drop a column
#df = df.drop(['A_sign'], axis = 1)
#print df

## Series ##

In [30]:
lst = [1, 2, 3, 1, 2, 3]
s = pd.Series([10,20,30])
print s
print pd.Series([10,20,30,40,50,60], index=lst)

0    10
1    20
2    30
dtype: int64
1    10
2    20
3    30
1    40
2    50
3    60
dtype: int64

In [ ]:
# Find elements in a Series
storeOpenDays[storeOpenDays != np.datetime64('2013-01-02')]

### Merge a Series into a Dataframe ###

In [59]:
i = range(0,3)
s = pd.Series(['a','b', 'c'], index=i)
print s

d = pd.DataFrame(np.random.randn(3,2), index=i, columns=list('XY'))
print d

d1 = pd.DataFrame(s, columns=['Name'])
print d1

dm = pd.merge(d, d1, left_index=True, right_index=True)
print dm

0    a
1    b
2    c
dtype: object
          X         Y
0 -0.158910 -0.172421
1 -0.220457 -2.035427
2 -0.619202 -0.413240
  Name
0    a
1    b
2    c
          X         Y Name
0 -0.158910 -0.172421    a
1 -0.220457 -2.035427    b
2 -0.619202 -0.413240    c

## Misc. ##

In [48]:
# .dt accessor
# Series has an accessor to succinctly return datetime like properties for the values of the Series, 
# if it is a datetime/period like Series. This will return a Series, indexed like the existing Series.

df['Time'] = pd.date_range('20151211', periods=len(df))
print df
print

df['Day'] = df['Time'].dt.day
print df

          A         B         C         D       Time
a -1.609150  0.851905 -0.958336  2.540210 2015-12-11
b  0.024007 -0.075003 -1.383130  1.282551 2015-12-12
c  1.595176  0.659859  0.395441  1.989611 2015-12-13
d -0.420154 -1.537966 -0.411965 -0.052758 2015-12-14
e -0.364205 -0.261687  0.303127 -1.067625 2015-12-15
f -0.004073 -1.172976 -1.013493  0.289787 2015-12-16

          A         B         C         D       Time  Day
a -1.609150  0.851905 -0.958336  2.540210 2015-12-11   11
b  0.024007 -0.075003 -1.383130  1.282551 2015-12-12   12
c  1.595176  0.659859  0.395441  1.989611 2015-12-13   13
d -0.420154 -1.537966 -0.411965 -0.052758 2015-12-14   14
e -0.364205 -0.261687  0.303127 -1.067625 2015-12-15   15
f -0.004073 -1.172976 -1.013493  0.289787 2015-12-16   16

In [ ]:
# Add a blank or empty column
df["X"] = np.nan
df["Y"] = ""

In [ ]:
# Fill NA by taking the values from another column
# http://stackoverflow.com/questions/30265723/python-create-a-new-column-from-existing-columns
df['z'] = df['y'].fillna(df['x'])

In [ ]:
# Apply a function to each row of a df
d.apply(lambda row: min([row['A'], row['B']])-row['C'], axis=1)

In [49]:
# Switch the index to a differet column
df = df.set_index('Time')
print df.dtypes
print df.index

A      float64
B      float64
C      float64
D      float64
Day      int64
dtype: object
DatetimeIndex(['2015-12-11', '2015-12-12', '2015-12-13', '2015-12-14',
               '2015-12-15', '2015-12-16'],
              dtype='datetime64[ns]', name=u'Time', freq=None)

In [51]:
print df['D'].mean()
print df.resample('M', how='mean')

0.83029586912
                   A         B         C         D   Day
Time
2015-12-31 -0.129733 -0.255978 -0.511393  0.830296  13.5

In [37]:
# Create a dataframe by specifying the columns
df2 = pd.DataFrame({'A': {0: "Apple", 1: "Apple", 2: "Apple", 3: "Apple", 4: "Apple", 5: "Apple", 6: "Apple", 7: "Orange", 8: "Lemon", 9: None},
                   'B': {0: 3, 1: 52, 2: 58, 3: 3, 4: 31, 5: 53, 6: 2, 7: 25, 8: 41, 9: 95},
                   'C': {0: 98, 1: 99, 2: 61, 3: 93, 4: 99, 5: 51, 6: 9, 7: 78, 8: 34, 9: 27}})

df2

        A   B   C
0   Apple   3  98
1   Apple  52  99
2   Apple  58  61
3   Apple   3  93
4   Apple  31  99
5   Apple  53  51
6   Apple   2   9
7  Orange  25  78
8   Lemon  41  34
9    None  95  27

In [38]:
df.groupby('A').size().divide(sum(df['A'].notnull()))

A
Apple     0.777778
Lemon     0.111111
Orange    0.111111
dtype: float64

In [ ]:
# Get all the rows where a column's value is in a list
compDist_df = train_df[train_df['Store'].isin([3,6,10])]

In [ ]:
# Plot vertical lines on datetime series
# http://stackoverflow.com/questions/21488085/pandas-graphing-a-timeseries-with-vertical-lines-at-selected-dates
ax = cum_edits.plot()
ymin, ymax = ax.get_ylim()
ax.vlines(x=dates, ymin=ymin, ymax=ymax-1, color='r')

In [ ]:
# Rename one column
df=df.rename(columns = {'two':'new_name'})

In [ ]:
# After groupby, you can access individual group
grouped = d.groupby('Col1').get_group('Male')
group = grouped.get_group('Male')

In [ ]:
# Can also iterate through the groups
for name, group in grouped:

## MultiIndex ##

In [ ]:
# Check if an index is a multiIndex
print monthly_by_StoreType.index

In [ ]:
# To access a multi-index data easily after a groupby, we should convert it into a dataframe first
d = pd.DataFrame(train_openday_earlier_df.groupby(['Store', 'AfterCompOpened'])['Sales'].mean())

In [ ]:
# To slice the index of a multi-index df, it's much easier to use IndexSlicer
# Here d2's index has two levels (Storeid, IsOpen)
idx = pd.IndexSlice
d2.loc[idx[:,True],:] # Get all the records where 2nd level (IsOpen) is True